@model Login
@{ Layout = "_Layout"; }

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div class="bg-success panel-body"><center><h4>Login Confirmado Com Sucesso</h4></center></div>
    </body>
    </html>

