@model ProjetoLogin.Models.Login
@{ Layout = "_Layout";}
@section scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input.input-validation-error").addClass("is-invalid");
        });
        
    </script>
}
    <div class="bg-primary panel-body"><h2 class="text-center text-white display-5">Acessar Sistema</h2></div>
    <form class="panel-body" asp-action="Login" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <div><span asp-validation-for="Email" class="text-danger"></span></div>
            <input asp-for="Email" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Senha">Senha:</label>
            <div><span asp-validation-for="Senha" class="text-danger"></span></div>
            <input asp-for="Senha" type="password" class="form-control" />
        </div>
        <section class="row justify-content-center mb-5">
            <button type="submit" class="btn btn-primary">Acessar</button>
        </section>
        
    </form>
